@import 'nib'
col-sm = "(min-width:768px)"
col-md = "(min-width:992px)"
col-lg = "@media (min-width:1200px)"

body
  box-sizing border-box


h1, h2, h3
  &:first-letter
    text-transform capitalize

// Offsets
.vertical-offset-100
	@media col-sm
	  margin-top 100px

.vertical-offset-30
	@media col-sm
	  margin-top 30px

.vertical-offset-10
  margin-top 10px

@import 'organisms/parsley'