body {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
h1:first-letter,
h2:first-letter,
h3:first-letter {
  text-transform: capitalize;
}
@media (min-width:768px) {
  .vertical-offset-100 {
    margin-top: 100px;
  }
}
@media (min-width:768px) {
  .vertical-offset-30 {
    margin-top: 30px;
  }
}
.vertical-offset-10 {
  margin-top: 10px;
}
.parsley-errors-list {
  padding: 0;
  list-style-type: none;
}
.parsley-error {
  border-color: #f00;
}
