if user
  nav.navbar.navbar-default(role='navigation')
    //  
       Brand and toggle get grouped for better mobile display 
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/') Brand
    //
       Collect the nav links, forms, and other content for toggling 
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      ul.nav.navbar-nav
        li.active
          a(href='#') Link
        li
          a(href='#') Link
        li.dropdown
          a.dropdown-toggle(href='#', data-toggle='dropdown')
            | Dropdown
            b.caret
          ul.dropdown-menu
            li
              a(href='#') Action
            li
              a(href='#') Another action
            li
              a(href='#') Something else here
            li.divider
            li
              a(href='#') Separated link
            li.divider
            li
              a(href='#') One more separated link
      .col-sm-3.col-md-3
        form.navbar-form(role='search')
          .input-group
            input.form-control(type='text', placeholder='Search', name='q')
            .input-group-btn
              button.btn.btn-default(type='submit')
                i.glyphicon.glyphicon-search
      ul.nav.navbar-nav.navbar-right
        li
          a(href='#') Link
        li.dropdown
          a.dropdown-toggle(href='#', data-toggle='dropdown')
            | Dropdown
            b.caret
          ul.dropdown-menu
            li
              a(href='#') Action
            li
              a(href='#') Another action
            li
              a(href='#') Something else here
            li.divider
            li
              a(href='#') Separated link
    //
       /.navbar-collapse 
