.row
  .col-sm-12.nav-height-100
    .sidebar-nav
      ul.nav.nav-list
        h2 #{appName}
        li
          a(href='/dashboard')
            i.fa.fa-dashboard
            | &nbsp;Dashboard
        li
          a(href='/settings')
            i.fa.fa-cog
            | &nbsp;Settings
            span.badge.badge-info
        li
          a(href='/logout')
            i.fa.fa-share
            | &nbsp;Logout
